/* css use BEM notation */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Variable Declarations */
:root {
    --ff-primary: 'DM Sans', sans-serif;;
    --ff-secondary: 'Roboto', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #ffefe5;
    --clr-dark: #000;
    --clr-accent: #5c52a8;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px){
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General Styles */
html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-weight: var(--fw-reg);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 1em 2em;
}

img {
    display:block;
    max-width: 80%; /* this may change */
}


:focus {
    outline: 3px solid var(--clr-dark);
    outline-offset: 2px;
}

.games__link,
.creator-website__link {
    transform: scale(1);
    opacity: 1;
    transition:
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.games__link:hover,
.creator-website__link:hover {
    transform: scale(1.05);
    opacity: .75;
    transition:
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

/* Typeography */

h1, h2, h3 {
    line-height: 1;
    margin: 0;
}

h1 {font-size: var(--fs-h1)}
h2 {font-size: var(--fs-h2)}
h3 {font-size: var(--fs-h3)}

.section__title {
    margin-bottom: .25rem;
}

.section__title--intro {
    font-weight: var(--fw-bold);
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

a {
    text-decoration: none;
    color: var(--clr-dark);
}


/* header */

.nav__link {
    text-decoration: none;
    color: var(--clr-dark);
}

.nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
}



header {
    position: fixed;
    padding: 1em 1em 0;
    color: var(--clr-dark);
    top: 0;
    bottom: 1;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;

    background: linear-gradient(180deg, var(--clr-light), transparent);
    transition: 500ms ease-in-out;
    transform: translateY(-50px);
}

.nav {
    min-width: 300px;
    padding-bottom: 0;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: right;
    list-style-type: none;
}

/* intro section */

.intro {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    transition-property: opacity, filter;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 1;
    z-index: 1;
}

@media (min-width: 450px) {
    .full-name {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.75rem;
    }
}

.first-name,
.last-name {
    font-size: calc(var(--fs-h1) * 1.2);
    display: flex;
    justify-content: center;
}

.section__subtitle--intro {
    text-align: center;
    margin: 3vh 0 5vh;
}

.animation {
    position: relative;
    animation: intro-animation 2s ease-out 0s 1;
}

.intro__buttons {
    display: flex;
    justify-content: center;
    gap: 4vw;
}

.intro__btn {
    color: var(--clr-dark);
    background-color: transparent;
    text-align: center;
    border: 1px solid var(--clr-dark);
    padding: 14px 33px;
    cursor: pointer;
    box-shadow: 3px 3px 0 0 var(--clr-dark);
    transition: all 250ms ease-in-out;
}

.intro__btn:hover {
    box-shadow: 0 0 0 0;
    transform: translateY(3px);
}

@keyframes intro-animation {
    0% {
        transform: translate3d(0vw, 0vh, 0vw) scale3d(1, 1, 1) 
        rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
        opacity: 1;
    }
    33% {
        transform: translate3d(5vw, 0vh, -30vw) scale3d(.5, .5, .5) 
        rotateX(0deg) rotateY(90deg) rotateZ(0deg) skew(5deg, 0deg);
        transform-style: preserve-3d;
        opacity: 0;
    }
    66%{
        transform: translate3d(5vw, -30vh, -15vw) scale3d(.5, .5, .5) 
        rotateX(0deg) rotateY(90deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
        opacity: 0;
    }
    100% {
        transform: translate3d(0vw, 0vh, 0vw) scale3d(1, 1, 1) 
        rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
        opacity: 1;
    }
}

/* all info sections */

.education,
.games,
.creator-website {
    transition: 200ms ease-out;
}

@media (max-width: 700px) {
    .education,
    .games,
    .creator-website {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 3vh;
    }

    .section__subtitle {
        text-align: center;
    }
}

img {margin: 0 auto}

/* education section */

.education {
    max-width: 1000px;
    margin: 105vh auto 4rem;
}

@media (min-width: 700px) {
    .education {
        display: grid;
        grid-template-columns: .65fr .35fr;
        grid-template-areas: 
            "title img"
            "subtitle img"
    }

    .section__title--education {
        grid-area: title;
    }

    .section__subtitle--education {
        grid-area: subtitle;
    }

    .education__img {
        grid-area: img;
        min-width: 100%
    }
}

/* games section */ 

.games {
    max-width: 1000px;
    margin: 4rem auto;
}


@media (min-width: 700px) {
    .games {
        display: grid;
        grid-template-columns: .35fr .65fr;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-column-gap: 1em;
    }

    .section__title--games {
        grid-area: title;
    }

    .section__subtitle--games {
        grid-area: subtitle;
    }

    .games__link {
        grid-area: img;
    }

    .games__img {
        min-width: 100%
    }
}

/* creator website section */

.creator-website {
    max-width: 1000px;
    margin: 4rem auto;
}

@media (min-width: 700px) {
    .creator-website {
        display: grid;
        grid-template-columns: .65fr .35fr;
        grid-template-areas:
            "title img"
            "subtitle img";
        grid-column-gap: 1em;
    }

    .section__title--creator-website {
        grid-area: title;
    }

    .section__subtitle--creator-website {
        grid-area: subtitle;
    }

    .creator-website__link {
        grid-area: img;
    }

    .creator-website__img {
        min-width: 100%;
    }
}

/* footer */

.footer {
    color: var(--clr-dark);
    text-align: center;
    padding: 2em 0;
    font-size: var(--fs-body);
}

.footer a {
    text-decoration: none;
}

.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    padding: .5em;
}

.hr {
    max-width: 1100px;
    height: 1px;
    background: rgba(0, 0, 0, .4);
    margin: 0 auto;
}

.social-list__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    padding: .5em;
}

